# Logs
logs/
*.log

# Diretórios de sistema
.DS_Store
Thumbs.db

# Diretórios de build
build/
dist/

# Dependências de pacotes
node_modules/
vendor/

# Arquivos temporários de sistemas operacionais
*.swp
*.swo
*.tmp

# Arquivos de configuração de IDEs
.idea/
.vscode/

# Arquivos de ambiente local
.env
